[user]
	name = Andrew Cameron
	email = andrew@acameron.org
[core]
	editor = /usr/bin/vim
[alias]
	st = status
	ap = add -p
	ci = commit
	co = checkout
	root = rev-parse --show-toplevel
[color]
	ui = auto
[grep]
	extendedRegexp = true
[merge]
	tool = vimdiff
[include]
	path = .gitconfig-private
